/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

.isDisabled {
  background-color: rgb(233, 236, 239) !important;
}
input.form-control:disabled {
  background-color: white;
}
:host {
  width: 100%;
}
:host.ngrx-forms-invalid {
  border-left: none;
  width: 100%;
}
.form-control {
  width: 1%;
  height: auto;
}
button {
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  line-height: 0.25rem;
}
.bg-primary {
  border-radius: 0.25rem;
  color: white;
}
.today {
  text-align: center;
  padding: 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border: 1px solid #5bc0de;
  border-radius: 0.25rem;
}
.today:hover {
  background-color: #5bc0de;
  color: white;
}

.custom-day {
  text-align: center;
  padding: 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.range,
.custom-day:hover {
  background-color: #5bc0de;
  border-radius: 0.25rem;
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.ng-untouched .ng-pristine .ng-valid {
  background-color: white;
}
.ngb-dp-header {
  background-color: #f8fafd;
}

:host {
  .ngrx-forms-valid[required] {
    border-left: 5px solid #42a948;
    /* green */
  }

  .ngrx-forms-invalid[required] {
    border-left: 5px solid #a94442;
    /* red */
  }
}
