/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

.distribution-group-members {
  height: 315px;
}

.group-member-search {
  display: flex;
}

button:first-child {
  margin-right: auto;
}

.group-member-search-button {
  margin-bottom: 5px;
}

.group-member-search-input {
  margin-right: 10px;
  margin-bottom: 5px;
}

.search-contacts-label {
  text-align: end;
}

.card-body {
  padding: 0px;
  overflow: hidden;
}

.card-title {
  padding: 20px 0px 20px 0px;
}
