<!-- /********************************************************************************
* Copyright (c) 2020 Contributors to the Eclipse Foundation
*
* See the NOTICE file(s) distributed with this work for additional
* information regarding copyright ownership.
*
* This program and the accompanying materials are made available under the
* terms of the Eclipse Public License v. 2.0 which is available at
* http://www.eclipse.org/legal/epl-2.0.
*
* SPDX-License-Identifier: EPL-2.0
********************************************************************************/ -->
<div></div>
<div class="table-menu">
  <div class="table-menu-row">
    <input
      #postcodeInput
      type="text"
      size="5"
      maxlength="5"
      id="postcode-input"
      autocomplete="off"
      class="form-control"
      placeholder="{{ 'DistributionGroupMemberPostcodes.Postcode' | translate }}"
      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      [disabled]="sandbox.disableMemberButton || sandbox.getDistributionGroupMemebers().length === 0"
    />
    <button
      type="button"
      class="btn btn-primary btn-sm postcode-btn"
      [disabled]="sandbox.disableMemberButton || sandbox.getDistributionGroupMemebers().length === 0"
      (click)="assignPostcode(postcodeInput.value); clearPostcodeInput()"
    >
      <em class="fa fa-plus" style="margin-left: 0px"></em>
    </button>
  </div>
</div>
<div class="distribution-group-postcodes">
  <ag-grid-angular
    autoResizeColumns
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [columnDefs]="columnDefinition"
    [rowSelection]="'single'"
    [components]="frameworkComponents"
    [rowData]="sandbox.postcodes"
    [overlayNoRowsTemplate]="noRowsTemplate"
  >
  </ag-grid-angular>
</div>
